<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Security Policies", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SRI <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("WorkingLink", "SRI", new {area = "SRI"})">Working Links</a></li>
                            <li><a href="@Url.Action("BrokenLink", "SRI", new {area = "SRI"})">Broken Links</a></li>
                            <li><a href="@Url.Action("BrokenLinkWithFallback", "SRI", new {area = "SRI"})">Broken Link with Fallback</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CSP <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("ReportOnly", "CSP", new {area = "CSP"})">CSP (Report Only)</a></li>
                            <li><a href="@Url.Action("BrokenLink", "CSP", new {area = "CSP"})">Broken Links</a></li>
                            <li><a href="@Url.Action("BrokenLinkWithFallback", "CSP", new {area = "CSP"})">Broken Link with Fallback</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FP <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("UseBrowserFeatures", "FP", new {area = "FP"})">Using Browser Features</a></li>
                            <li><a href="@Url.Action("BlockedBrowserFeatures", "FP", new {area = "FP"})">Blocked Browser Features</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
